:root {
  --pink: #fa97c2;
  --blue: #2fa0d5;
  --green: #73c926;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Changa One", cursive;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

/*Header*/
#menuHeader a {
  display: block;
  padding: 0 20px;
  font-weight: bold;
  color: black;
  font-family: "Changa One", cursive;
}

#menuHeader a.active {
  color: var(--blue);
}

#formSearch input {
  width: 120px;
}

#formSearch i {
  color: var(--green);
}

/*banner*/
#banner {
  background-image: url(../images/bg-banner.gif);
}

#banner > div {
  background: url(../images/logo_bg.png) left top no-repeat,
    url(../images/search_bg.png) right top no-repeat;
  padding: 50px 30px;
}

#banner a {
  background-color: var(--pink);
  font-family: "Changa One", cursive;
  color: white;
  font-size: 30px;
}

.carousel-item {
  min-height: 15rem;
}

#banner .carousel-indicators li {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  border: none;
  margin: 0 0.3rem;
  position: relative;
}

#banner .carousel-indicators li span {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  border: none;
  top: 0.3rem;
  left: 0.3rem;
  text-align: left;
  text-indent: -99999;
}

#banner .carousel-indicators li.active span {
  background-color: var(--green);
}

#banner-small {
  background-image: url(/images/bg-banner.gif);
  padding: 5px;
}

.readmore {
  color: var(--blue);
  margin-top: -3px;
}

.web1-text-blue {
  color: var(--blue);
}

/* about us */
#aboutus {
  background-color: var(--pink);
}

#formSignup {
  border-style: dashed !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

/*news*/
#news .date {
  background-color: var(--green);
  padding: 1rem;
  width: 5rem;
}

/*footer*/
footer {
  background-image: url(../images/bg-footer.gif);
}

#menu-footer a {
  color: white;
  font-weight: bold;
  font-family: "Changa One", cursive;
  display: block;
  padding: 0 2rem;
}

#menu-footer a.active {
  color: var(--pink);
}

/*Modal Login*/
#formLogin button[type="submit"] {
  background-color: var(--blue);
  color: white;
}

/* Testimonials */
#testimonials {
  background-color: var(--pink);
}

#testimonials.col {
  background: url(../images/quot.png) left top no-repeat;
  padding-left: 3rem;
}

.text-wrapper {
  max-width: 500px;
  word-break: break-word;
  text-align: left;
}

.morepadding {
  padding-top: 15px;
}

.summary {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4em;
  max-height: calc(1.4em * 6);
  white-space: normal;
}

/* .text-long {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* .text-long1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/*Blogs*/
#blogs-categories li {
  list-style-type: none;
  background: url(../images/marker1.png) 0 0.2rem no-repeat;
  padding: 0 0 0.5rem 1.5rem;
}

/*contact*/
#map{
  height: 400px;
  width: 100%;
}

.btn-primary{
  background-color: var(--blue) !important;
  border: none;
}

.custom-modal {
  max-width: 600px;
  width: 90%;
}
